[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-neomodel = "*"
django = "*"
djangorestframework = "*"
neomodel = "*"
pyyaml = "*"
uritemplate = "*"
sphinxcontrib-django = "*"
sphinx = "*"
daphne = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
django-cors-headers = "*"
drf-yasg = {extras = ["validation"], version = "*"}
drf-standardized-errors = "*"
django-oauth-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.9"
